<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtnals.book_information.mapper.AuthorMapper">
    <select id="getAuthorListByName" resultType="com.gtnals.book_information.data.AuthorVO">
        select * from author_info where ai_name=#{name}
    </select>
</mapper>