<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtnals.book_information.mapper.BoardMapper">
    <select id="getBoardInfo" resultType="com.gtnals.book_information.data.BoardVO">
        select a.*, mi_name as mem_name, mi_phone as mem_phone, mi_id as mem_id
        from member_board_info a left outer join member_info b
        on mbi_mi_seq =mi_seq
        <if test="key_opt==0">
            where mi_id like #{keyword} or mi_name like #{keyword} or mbi_title like #{keyword} or mbi_content like #{keyword}
        </if>
        <if test="key_opt==1">
            where mbi_title like #{keyword}
        </if>
        <if test="key_opt==2">
            where mbi_content like #{keyword}
        </if>
        <if test="key_opt==3">
            where mi_id like #{keyword} or mi_name like #{keyword}
        </if>
        order by
        <if test="order==0">
            mbi_seq desc
        </if>
        <if test="order==1">
            mbi_status 
        </if>
        <if test="order==2">
            mi_name, mi_id
        </if>
        <if test="order==3">
            mbi_category
        </if>
        limit 10 offset #{offset}
    </select>
    <select id="getBoardCnt" resultType="java.lang.Integer">
        select count(*)
        from member_board_info a left outer join member_info b
        on mbi_mi_seq =mi_seq
        <if test="key_opt==0">
            where mi_id like #{keyword} or mi_name like #{keyword} or mbi_title like #{keyword} or mbi_content like #{keyword}
        </if>
        <if test="key_opt==1">
            where mbi_title like #{keyword}
        </if>
        <if test="key_opt==2">
            where mbi_content like #{keyword}
        </if>
        <if test="key_opt==3">
            where mi_id like #{keyword} or mi_name like #{keyword}
        </if>
    </select>
    <delete id="deleteBoard">
        delete from member_board_info
        where mbi_seq=#{seq}
    </delete>
    <update id="addReply">
        UPDATE member_board_info
        SET mbi_status=1, mbi_reply=#{mbi_reply}
        WHERE mbi_seq=#{mbi_seq};
    </update>
</mapper>