<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtnals.book_information.mapper.BookMapper">
    <select id="getBookInfo" resultType="com.gtnals.book_information.data.BookVO">
        select a.*, b.ai_name as author
        from book_info a left outer join author_info b on a.bi_ai_seq=b.ai_seq
        <if test="key_opt==0">
            where bi_name like #{keyword} or b.ai_name like #{keyword}
        </if>
        <if test="key_opt==1">
            where bi_name like #{keyword}
        </if>
        <if test="key_opt==2">
            where b.ai_name like #{keyword}
        </if>
        order by bi_seq desc
        limit 10 offset #{offset}
    </select>
    <select id="getBookCount" resultType="java.lang.Integer">
        select count(*)
        from book_info a left outer join author_info b on a.bi_ai_seq=b.ai_seq
        <if test="key_opt==0">
            where bi_name like #{keyword} or b.ai_name like #{keyword}
        </if>
        <if test="key_opt==1">
            where bi_name like #{keyword}
        </if>
        <if test="key_opt==2">
            where b.ai_name like #{keyword}
        </if>
    </select>
    <insert id="addBook">
        insert into book_info(bi_name, bi_number, bi_status, bi_ai_seq)
        values(#{bi_name}, #{bi_number}, #{bi_status}, #{bi_ai_seq})
    </insert>
    <delete id="deleteBook">
        delete from book_info where bi_seq=#{seq}
    </delete>
    <select id="getBookInfoBySeq" resultType="com.gtnals.book_information.data.BookVO">
        select a.*, b.ai_name as author, b.ai_number as author_code
        from book_info a left outer join author_info b on a.bi_ai_seq=b.ai_seq
        where a.bi_seq=#{seq}
    </select>
    <update id="updateBook">
        update book_info
        set bi_name=#{bi_name}, bi_number=#{bi_number}, bi_status=#{bi_status}, bi_ai_seq=#{bi_ai_seq}, bi_mod_dt=NOW()
        where bi_seq=#{bi_seq}
    </update>
    <select id="selectLatestDataSeq" resultType="java.lang.Integer">
        select bi_seq from book_info
        order by bi_seq desc limit 1
    </select>
    <insert id="insertBookHistory">
        INSERT INTO book_history(bh_type, bh_content, bh_bi_seq)
        VALUES(#{bh_type}, #{bh_content}, #{bh_bi_seq})
    </insert>
</mapper>