<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtnals.book_information.mapper.MemberMapper">
    <select id="getMemberInfo" resultType="com.gtnals.book_information.data.MemberVO">
        SELECT end_date, mi_seq, mi_id, mi_name, mi_birth, mi_phone, mi_email, mi_status, mi_mod_dt, mi_reg_dt
        FROM member_info left outer join
        (
            select si_mi_seq, max(si_end_dt) as end_date from suspend_info
            group by si_mi_seq
        )a on mi_seq = si_mi_seq
        <if test="key_opt==0">
            where mi_id like #{keyword} or mi_name like #{keyword} or mi_email like #{keyword}
        </if>
        <if test="key_opt==1">
            where mi_id like #{keyword}
        </if>
        <if test="key_opt==2">
            where mi_name like #{keyword}
        </if>
        <if test="key_opt==3">
            where mi_email like #{keyword}
        </if>
        order by
        <if test="order==0">
            mi_seq desc
        </if>
        <if test="order==1">
            mi_status desc 
        </if>
        <if test="order==2">
            mi_id
        </if>
        <if test="order==3">
            mi_name
        </if>
        limit 10 offset #{offset}
    </select>
    <select id="getMemberCnt" resultType="java.lang.Integer">
        select count(*) from member_info
        <if test="key_opt==0">
            where mi_id like #{keyword} or mi_name like #{keyword} or mi_email like #{keyword}
        </if>
        <if test="key_opt==1">
            where mi_id like #{keyword}
        </if>
        <if test="key_opt==2">
            where mi_name like #{keyword}
        </if>
        <if test="key_opt==3">
            where mi_email like #{keyword}
        </if>
    </select>
    <insert id="addMemberInfo">
        INSERT INTO member_info
        (mi_id, mi_pwd, mi_name, mi_birth, mi_phone, mi_email, mi_status)
        VALUES
        (#{mi_id}, #{mi_pwd}, #{mi_name}, #{mi_birth}, #{mi_phone}, #{mi_email}, #{mi_status})
    </insert>
    <delete id="deleteMember">
        delete from member_info where mi_seq=#{seq}
    </delete>
    <select id="getMember" resultType="com.gtnals.book_information.data.MemberVO">
        select mi_seq, mi_id, mi_name, mi_birth, mi_phone, mi_email, mi_status
        from member_info
        where mi_seq = #{seq}
    </select>
    <update id="updateMember">
        update member_info
        set mi_id=#{mi_id}, mi_name=#{mi_name}, mi_birth=#{mi_birth}, mi_phone=#{mi_phone}, mi_email=#{mi_email}, mi_status=#{mi_status}, mi_mod_dt=NOW()
        where mi_seq = #{mi_seq}
    </update>

    <select id="getMemberByID" resultType="com.gtnals.book_information.data.MemberVO">
        SELECT mi_seq, mi_id, mi_name, mi_birth, mi_phone, mi_email, mi_status, mi_mod_dt, mi_reg_dt
        FROM member_info
        where mi_id= #{mi_id}
    </select>

    <insert id="insertMemberHistory">
        INSERT INTO member_info_history
        (mih_mi_seq, mih_type, mih_mi_content)
        VALUES(#{mih_mi_seq}, #{mih_type}, #{mih_mi_content})
    </insert>
    <select id="getRecentAddedMemberSeq" resultType="java.lang.Integer">
        select mi_seq from member_info order by mi_seq desc limit 1
    </select> 

    <select id="getMemberbyKeyword" resultType="com.gtnals.book_information.data.MemberVO">
        select mi_seq, mi_id, mi_name, mi_status from member_info where mi_name like #{keyword} 
    </select>

    <insert id="addSuspendInfo">
        INSERT INTO suspend_info
        (si_mi_seq, si_start_dt, si_end_dt)
        VALUES
        (#{si_mi_seq}, current_date(), adddate(current_date(), #{days}))
    </insert>

    <select id="checkSuspendInfo" resultType="com.gtnals.book_information.data.SuspendVO">
        select * from suspend_info
        where <![CDATA[si_end_dt < current_date()]]>
    </select>
    <delete id="deleteSuspendInfo">
        delete from suspend_info
        where si_seq = #{si_seq}
    </delete>
    <select id="getSuspendCntBymem" resultType="java.lang.Integer">
        select count(*) from suspend_info
        where si_mi_seq=#{mi_seq}
    </select>
    
    <insert id="insertSuspendHistory">
        INSERT INTO suspend_history
        (sh_si_seq, sh_type, sh_content)
        VALUES(#{sh_si_seq}, #{sh_type}, #{sh_content})
    </insert>
    <select id="getRecentAddedSuspendSeq" resultType="java.lang.Integer">
        select si_seq from suspend_info order by si_seq desc limit 1
    </select> 

    <select id="getSuspendInfo" resultType="com.gtnals.book_information.data.SuspendVO">
        select * from suspend_info where si_seq=#{seq}
    </select>
</mapper>