/* board_list.css */

table { table-layout: fixed; }
.table_area table .small {width: 10%;}

.content_row .content_head {font-weight: 600; font-size: 16px;}
.content_row .content {  text-align: center;}
