/* member_list.css */
#m_status, #m_role{
    width: calc(25% - 10px); 
    border-radius: 15px; border-left: 1px solid #ccc; padding: 5px 15px; 
    margin: 0 5px;
}
.btn_area #add_m {background-color: #999;}
.btn_area #add_m:hover {background-color: #333;}
.btn_area #mod_m{background-color: #999;}
.btn_area #mod_m:hover {background-color: #333;}
.btn_area #cancel_m {background-color: rgb(255,194,194);}
.btn_area #cancel_m:hover {background-color: rgb(255,83,83);}

.table_area .book_status {padding: 20px 10px;}